:root {
    --cor-de-fundo: #F0F8FF;
    --cor-cabecalho: #4169E1;
    --fundo-menu: #1E90FF;
}

body {
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    background-color: var(--cor-cabecalho);
}

.cabecalho-titulo {
    font-size: 30px;
    font-weight: 670;
    padding: 14px;
    text-align: center;
}

.cabecalho-menu {
    background-color: var(--fundo-menu);
}

.cabecalho-menu-item {
    display: block;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-align: center;
    border-top: 1px solid;
}